<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <!--web.xml : 웹 동작과 관련된 기본 구성, jsp.servlet과 관련된 구성 정보들이 등록되는 파일 -> 자신이 어떻게 동잘할지 참조하는 파일 -->
  <display-name>jsp_pro01</display-name>
  
  <!-- @WebServlet("") 사용 안하고 하는 방법 -> 둘 중 한가지 반법만 사용 -> 2가지 방법 같이 사용 가능하나 이름이 중복되면 충돌일어남으로 주의 -->
  <!-- 참조 순서 : servlet-mapping -> servlet -->
  <servlet>
  	<servlet-name>MController</servlet-name> <!-- 이곳을 찾음. 이것은 servlet-class를 실행함 -->
  	<servlet-class>main.controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MController</servlet-name>
  	<url-pattern>/MainController</url-pattern> <!-- url-pattern 이 매치가 되면 servlet-name에 해당하는 이름을 찾음 -->
  </servlet-mapping>
  
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 
  // 에러 페이지 만들기
  // 개발단계임으로 사용x -> tomcat에서 제공하는 에러 페이지 필요
  <error-page>
  	<error-code>404</error-code> // 404 에러가 뜨면 해당 에러페이지로 이동
  	<location>/WEB-INF/error/404.html</location>
  </error-page>
  -->
  <!-- NullPointerException 이 일어났을 때 해당 페이지로 이동
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/WEB-INF/error/exception.html</location> // 에러페이지 = 정적 페이지 -> html, 동적페이지 -> jsp
  </error-page>
  -->
  
  <!-- 기본 페이지로 등록 -> context root 만 써도 페이지 읽음 (/web09/) -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>